<img src="http://escience.washington.edu/wp-content/uploads/2016/02/DataScienceForSocialGood.png" width = "550">


### SQL Tutorial 

#### Friday June 17, 9 am - 12 pm

#### Instructors
Valentina Staneva, Anthony Arendt

#### 1) How many "TRESPASS" offenses occurred in total?
#### 2) What is the most common crime in the dataset?
#### 3) Which month has the most crimes?
#### 4) Which census track has the highest crime rate?
#### 5) What is the most common crime within 1 km of my house?
<br><br>
<small>Data source: "SeattleCrimeIncidents.csv" or http://www.seattle.gov/seattle-police-department/crime-data/spd-data-sets

#### What is a database? 
* software system for capturing, storing and analyzing data 
* nearly all databases use the _relational_ data model

<img src='images/terminology.png' width = 900px>

#### Relational data model:
* data are structured into row/column format 

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass | <small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 2 | <small>larceny-theft | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |

* each record has a unique identifier (primary key)

#### Relational data model:
* uses Structured Query Language (SQL):

```SQL
CREATE TABLE seattlecrimesincidents 
    ("crimesID" int,
     "Offense type" character
     "Offense code" int
     "Date" timestamp
     "Location" character); 
```

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|   |   |   |   |   |

* populating the database records:
```SQL
INSERT INTO seattlecrimeincidents VALUES

    (1,'trespass', 5700,'2015-01-28 09:30:00','12XX Block of E Pike St'),
    
    (2,'larceny-theft',2300, '2015-02-21 08:24:21','15XX Block of Aurora St');
```

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass | <small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 2 | <small>larceny-theft | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |

### Data in each column must be of the same type

#### SQL requires this so it knows how to operate on the data

Some common [data types](https://www.postgresql.org/docs/9.4/static/datatype.html):
<br>
<div class="TABLE">
    <a name="DATATYPE-TABLE" id="DATATYPE-TABLE"></a>

<small>
    <table class="CALSTABLE" border="1">
      <colgroup><col>
      <col>
      <col>

      <thead>
        <tr>
          <th>Name</th>

          <th>Aliases</th>

          <th>Description</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><tt class="TYPE">boolean</tt></td>

          <td><tt class="TYPE">bool</tt></td>

          <td>logical Boolean (true/false)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">character [(<tt class="REPLACEABLE c4">n</tt>)]</tt></td>

          <td><tt class="TYPE">char [(<tt class="REPLACEABLE c4">n</tt>)]</tt></td>

          <td>fixed-length character string</td>
        </tr>

        <tr>
          <td><tt class="TYPE">date</tt></td>

          <td>&nbsp;</td>

          <td>calendar date (year, month, day)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">double precision</tt></td>

          <td><tt class="TYPE">float8</tt></td>

          <td>double precision floating-point number (8 bytes)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">integer</tt></td>

          <td><tt class="TYPE">int</tt>, <tt class="TYPE">int4</tt></td>

          <td>signed four-byte integer</td>
        </tr>

        <tr>
          <td><tt class="TYPE">json</tt></td>

          <td>&nbsp;</td>

          <td>JSON data</td>
        </tr>


        <tr>
          <td><tt class="TYPE">money</tt></td>

          <td>&nbsp;</td>

          <td>currency amount</td>
        </tr>

        <tr>
          <td><tt class="TYPE">timestamp [(<tt class="REPLACEABLE c4">p</tt>)] [ without time zone
          ]</tt></td>

          <td>&nbsp;</td>

          <td>date and time (no time zone)</td>
        </tr>

        <tr>
          <td><tt class="TYPE">xml</tt></td>

          <td>&nbsp;</td>

          <td>XML data</td>
        </tr>
      </tbody>
    </table>
  </div>

### Database rules:

#### take the time to [normalize](https://en.wikipedia.org/wiki/Database_normalization) your tables to minimize redundancy

#### example: multiple offenses at the same time 

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass and burglary | <small>5700 and 5710 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 2 | <small>larceny-theft | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |

####  INCORRECT: database will have problems searching these columns

#### solution: create another row

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass | <small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 2 | <small> burglary | <small> 5710 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 3 | <small>larceny-theft | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |

### NULL values

* missing data are a common feature of many datasets
* here the code for "tresspass" is not known so the data entry is "X"

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass | <small>X | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 2 | <small> burglary | <small> 5710 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |
|  <small> 3 | <small>larceny-theft | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |

#### NULL values
* conventionally, some value is used to represent missing data (e.g. "X" or -9999) 
* relational databases introduced NULL values:
    * NULL is a state representing a lack of a value
    * NULL is not the same as zero!
    * NULL values are ignored in SELECT statements

* selecting data:
```SQL
SELECT * 
   FROM seattlecrimeincidents 
   WHERE "Offense code" = 5700;
```

* use a "WHERE" clause to select specific rows

| crimesID | Offense type | Offense code | Date | Location | 
| ---- | ---- | ----- | ---- | ---- | ---- |
|  <small> 1 | <small>tresspass | <small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |

* selecting data:
```SQL
SELECT "Offense type", "Date" 
   FROM seattlecrimeincidents;
```

* use a comma separated list to select specific columns


| Offense type | Date | 
| ---- | ---- |
| <small>tresspass | <small> 2015-01-28 09:30:00 | 
| <small>larceny-theft | <small> 2015-02-21 08:24:21 |

#### Functions: databases have a wide range of functions that can operate on row elements

#### Example:
* use a function to extract a subset of a date (e.g. year, hour) from a column with type = "timestamp"

In [6]:
%%sql
SELECT "Date Reported", date_part('hour', "Date Reported")
FROM seattlecrimeincidents
LIMIT 5;

5 rows affected.

[(datetime.datetime(2015, 1, 28, 9, 30), 9.0),
 (datetime.datetime(2015, 1, 28, 11, 5), 11.0),
 (datetime.datetime(2015, 1, 29, 19, 57), 19.0),
 (datetime.datetime(2015, 1, 28, 15, 17), 15.0),
 (datetime.datetime(2015, 1, 27, 4, 25), 4.0)]

#### Databases also have aggregate functions used on sets of data
* examples: SUM(), MAX(), MIN(), AVG(), COUNT(), STDDEV()

#### Data Analysis:
* databases have powerful methods for analyzing data
* one of the most common tasks: applying statistics across groups
* to accomplish this we need to learn 
    * how to GROUP sets of data
    * how to apply statistical functions to those groups

| crimesID |  Offense code | Date | Location | Damage | 
| ---- |  ----- | ---- | ---- | ---- | ---- |
|  <small> 1 |<small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |<small> \$1,220 | 
|  <small> 1 |<small>5700 | <small> 2015-02-12 03:25:00 | <small> 1XX Block of Aloha St |<small> \$11,420 |
|  <small> 2 | <small> 5710 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |<small> \$5,389 |
|  <small> 2 | <small> 5710 | <small> 2015-1-02 12:31:20 | <small> 12XX Block of E Pine St |<small> \$15,231 |
|  <small> 3 | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |<small> \$2,405 |

### QUESTION: What is the total damage that occurred for each offense type?

* data grouped by "Offense code":

| crimesID |  Offense code | Date | Location | Damage | 
| ---- |  ----- | ---- | ---- | ---- | ---- |
|  <small> 1 |<small>5700 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |<small> \$1,220 | 
|  <small> 2 |<small>5700 | <small> 2015-02-12 03:25:00 | <small> 1XX Block of Aloha St |<small> \$11,420 |
|    |    |    |    |    |
|  <small> 3 | <small> 5710 | <small> 2015-01-28 09:30:00 | <small> 12XX Block of E Pike St |<small> \$5,389 |
|  <small> 4 | <small> 5710 | <small> 2015-1-02 12:31:20 | <small> 12XX Block of E Pine St |<small> \$15,231 |
|    |    |    |    |    |
|  <small> 5 | <small>2300 | <small> 2015-02-21 08:24:21 | <small> 15XX Block of Aurora St |<small> \$2,405 |

* data grouped by "Offense code":

<img src = 'images/groupedTable.png' width = 800>

```SQL
SELECT SUM("Damage") 
   FROM seattlecrimeincidents
   GROUP BY "Offense code";
```

| Offense code | totalDamage | 
|   ---- | ---- |
|  <small>5700  |<small> \$12,640 | 
|  <small> 5710 |<small> \$20,620 |
|  <small>2300  |<small> \$2,405 |

#### Column aliasing:
* often we want to rename newly generated columns:

In [7]:
%%sql
SELECT "Date Reported", date_part('hour', "Date Reported") AS "reported hour"
FROM seattlecrimeincidents
LIMIT 5;

5 rows affected.

[(datetime.datetime(2015, 1, 28, 9, 30), 9.0),
 (datetime.datetime(2015, 1, 28, 11, 5), 11.0),
 (datetime.datetime(2015, 1, 29, 19, 57), 19.0),
 (datetime.datetime(2015, 1, 28, 15, 17), 15.0),
 (datetime.datetime(2015, 1, 27, 4, 25), 4.0)]

#### Joining Tables
* well designed databases distribute data across multiple tables, for efficiency
* then we can JOIN data between tables as needed

<img src = 'images/joinTables.png' width = 800px>

#### Database Implementation:

* there are many relational database software implementations:
   * commercial: Oracle, Microsoft SQL Server, IBM DB2 
   * open source: MySQL, PostgreSQL

* regardless of the software:
   * most databases are deployed on a server 
   * can deploy locally for testing

#### Database Interface:

* all databases are accessed via a _connection string_:
   * hostname, port, user, password

<img src='images/databaseDiagram.png' width = 850px>

# EXERCISE 1: 15-20 MINUTES

<img src='images/elias.jpg' width = 700>

### EXERCISE 1 DEBRIEF:

* what did you learn? 
* what was challenging or surprised you?

### Recall our second analysis question:

* "What is the most common crime in the dataset, and in what year and month did these crimes occur?"

#### To solve this we need to learn more about GROUP BY and the "date" field

In [1]:
%load_ext sql
%sql postgresql://awsdssg:datascience2016@dssg2016.c5k9fqonks28.us-east-1.rds.amazonaws.com/dssg2016

'Connected: awsdssg@dssg2016'

In [3]:
%%sql
SELECT "Offense Type", count(*) AS incident_count 
FROM seattlecrimeincidents
GROUP BY "Offense Type" 
ORDER BY "incident_count" DESC
LIMIT 5;

5 rows affected.

[('THEFT-CARPROWL', 5334),
 ('THEFT-OTH', 1828),
 ('VEH-THEFT-AUTO', 1684),
 ('PROPERTY DAMAGE-NON RESIDENTIA', 1412),
 ('BURGLARY-FORCE-RES', 1361)]

In [4]:
%%sql
SELECT "Offense Type", year, month, count(*) AS incident_count 
FROM seattlecrimeincidents 
GROUP BY "Offense Type", year, month 
ORDER BY "incident_count" DESC
LIMIT 5;

5 rows affected.

[('THEFT-CARPROWL', 2015, 1, 1163),
 ('THEFT-CARPROWL', 2015, 5, 949),
 ('THEFT-CARPROWL', 2015, 4, 829),
 ('THEFT-CARPROWL', 2015, 3, 800),
 ('THEFT-CARPROWL', 2015, 2, 783)]

## EXERCISE 2: 20-30 MINUTES

#### Exercise 2 Debrief:

* what did you learn?

### Recall our final analysis question:

* "What is the most common crime within 5 km of my house?"

#### To answer this we'll need to understand something about mapping, and how databases encode spatial information.

### Note that the database currently has latitude and longitude information:

In [13]:
%%sql 
SELECT latitude, longitude
FROM seattlecrimeincidents 
LIMIT 5;

5 rows affected.

[(47.6158384, -122.3181689),
 (47.60087709, -122.3312162),
 (47.59582098, -122.3175691),
 (47.6140991, -122.3174884),
 (47.63148825, -122.3125079)]

#### Geographic reference frame: treats the earth as a sphere
<img src="images/earthLatLong2.png" width = 600>
[<small>source](https://coast.noaa.gov/digitalcoast/training/datums)

#### Question: what is the straight line distance between points 1 and 2?

| Point | Latitude | Longitude |
| ---- | ---- | ---- |
| 1 | 47.6158384| -112.3181689 |
| 2 | 47.60087709 | -112.3312162 |

In [15]:
dLat = (47.6158384 - 47.60087709)
dLong = (-112.3181689 - -112.3312162)

print(dLat, dLong)

0.014961310000003891 0.013047299999996653

In [20]:
import numpy as np

latDist = 111.2 # one degree of latitude is 111.2 km

distance = np.sqrt(dLat**2 + dLong**2) * latDist

print("Estimated distance is " + str(round(distance,3)) + " km")

Estimated distance is 2.207 km

#### Projection: deals with the problem of converting 3D earth to a 2D plane on which we can plot features
<img src="images/projections2.png" width = "600">

### Projection: like shining a light through a transparent sphere and tracing the lines of lat/long
<img src="images/projections.png" width = 500>

<img src="images/projectionTypes.png" width = 650>

### How does the database currently encode the latitude and longitude information?

In [19]:
%%sql
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'seattlecrimeincidents' AND (column_name = 'Latitude' OR column_name = 'Longitude');

2 rows affected.

[('Longitude', 'double precision'), ('Latitude', 'double precision')]

### It would be better if the database understands latitude and longitude as locations rather than as double precision numbers.

#### Fortunately databases have a special data type called _geometries_ that encode the location of spatial (_vector_) information.

<img src="http://neon-workwithdata.github.io/NEON-R-Spatio-Temporal-Data-and-Management-Intro/images/dc-spatial-vector/pnt_line_poly.png" width = "700">

### Implementation: first, add a geometry column:

```SQL
ALTER TABLE seattlecrimeincidents ADD COLUMN geom geometry(Point, 4326);
```
* 4326 is the code for geographic (latitude/longitude) coordinate system

| Point | Latitude | Longitude | geom | 
| ---- | ---- | ---- | ---- |
| 1 | 47.6158384| -112.3181689 | |
| 2 | 47.60087709 | -112.3312162 | |

### Next, populate the geometry column:

```SQL
UPDATE seattlecrimeincidents SET geom = ST_setSRID(ST_MakePoint(longitude,latitude),4326);
```

| Point | Latitude | Longitude | geom | 
| ---- | ---- | ---- | ---- |
| 1 | 47.6158384| -112.3181689 | 0101000020E6100000AD0617E15C945EC07CCFEDCAD3CE4740 |
| 2 | 47.60087709 | -112.3312162 | 0101000020E6100000F2B96EA532955EC09A3B5D8AE9CC4740 |

### Now that the database has geometric encoding, we can use a wide range of geospatial functions

#### First, let's transform our geometries into a _projected_ coordinate system so that we can calculate distances

```SQL
ALTER TABLE seattlecrimeincidents 
ADD COLUMN geom_utm geometry(Point, 3717);

UPDATE seattlecrimeincidents 
SET geom_utm = ST_Transform(geom,3717);
```

In [26]:
%%sql
SELECT ST_Distance(a.geom_utm,b.geom_utm)
FROM seattlecrimeincidents AS a, seattlecrimeincidents AS b
WHERE a.gid=1 AND b.gid=2;

1 rows affected.

[(1930.45436426609,)]

http://neon-workwithdata.github.io/NEON-R-Spatio-Temporal-Data-and-Management-Intro/